<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile</title>
    </head>
    <body>
        <div id="content">
            <div class="hero_image_banner">
              <div id="profile_name">NAME</div>
              <nav>
                <ul>
                  <li><a href="#">Newsfeed</a> <span class="badge_text">2</span></li>
                  <li><a href="#">Conversations</a> <span class="badge_text">1</span></li>
                  <li><a href="#">Events</a> <span class="badge_text">4</span></li>
                  <li>
                    <form action="/logout" method="get">
                        <input type="submit" value="Logout"/>
                    </form>
                  </li>
                </ul>
              </nav>
            </div>
      
      
      
      
            <div id="left_placeholder">LEFT COLUMN PLACEHOLDER</div>
            <div id="middle_placeholder">MIDDLE COLUMN PLACEHOLDER</div>
            <div id="right_placeholder">RIGHT COLUMN PLACEHOLDER</div>
      
      
      
          </div>
          <script src="/js/jquery-3.6.0.min.js"></script>
          <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
          <script>
            $(document).ready(function() {
                $("#left_column").mCustomScrollbar();
                $("#middle_column").mCustomScrollbar();
                $("#right_column").mCustomScrollbar();
      
      
            });
          </script>
      </body>
      </html>